.countdown-display {
  font-size: 16px;
  font-weight: 600;
  color: #ff0000;
  direction: ltr;
}

.countdown-text h5 {
  font-size: 16px;
  font-weight: 600;
  color: #d32f2f;
  margin-bottom: 10px;
}

.countdown-display span {
  padding: 0 5px;
}

.expired-message {
  font-size: 16px;
  font-weight: 700;
  color: #d32f2f;
}

.no-end-date-message {
  font-size: 14px;
  font-weight: 500;
  color: #ff0000;
  margin-bottom: 10px;
}

/* Archive Page Countdown */
.archive-sales-countdown-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #ff4d4d;
  z-index: 20;
  position: inherit;
}

.archive-sales-countdown-text {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-left: 20px;
  text-wrap: nowrap;
}

/* Responsive design: Stack countdown and text vertically on small screens */
@media (max-width: 768px) {
  .archive-sales-countdown-container {
    flex-direction: column;
  }
  .countdown-display {
    font-size: 12px;
    font-weight: 500;
  }
  .countdown-text  {
    font-size: 12px;
    font-weight: 500;
  }
  h5{
    margin-bottom: 0 !important;
  }
  .archive-sales-countdown-text {
    font-size: 12px;
    font-weight: 500;
    margin-left: 7px;
  }
}
