.countdown-display {
  font-size: 16px;
  font-weight: 600;
  color: #ff0000;
}

.countdown-text h5 {
  font-size: 16px;
  font-weight: 600;
  color: #d32f2f;
  margin-bottom: 10px;
}

.countdown-text p {
  font-size: 14px;
  margin: 5px 0 0;
}

.countdown-display span {
  padding: 0 5px;
}

/* Archive Page Countdown */
.archive-sales-countdown-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #ff4d4d;
  z-index: 20;
  position: inherit;
}

.archive-sales-countdown-timer {
  font-size: 18px;
  font-weight: 600;
  color: #ff0000;
  direction: ltr;
  white-space: nowrap;
}

.archive-sales-countdown-text {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-left: 20px;
}

/* Responsive design: Stack countdown and text vertically on small screens */
@media (max-width: 768px) {
  .archive-sales-countdown-container {
  }

  .archive-sales-countdown-text {
  }
}
